.footer__o-nama {
  background-image: url(../materijali/img/zaiskri-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 3;
}

.footer__o-nama__text {
  text-align: center;
}

.footer__o-nama__text p {
  margin: 0;
  font-weight: bold;
  font-size: 50px;
}
