.video__container {
  max-width: 100dvw;
  max-height: 100dvh;
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
  position: relative;
}

.video__container__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.typing_text__container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.typing_text__wrapper {
  display: flex;
  align-items: start;
  justify-content: center;
  height: 100%;
  flex-direction: column;
}

.typing_text_line {
  font-weight: 700;
  letter-spacing: 0.02em;
  font-size: clamp(1.5rem, -0.75rem + 4.6875vw, 3rem);
  text-shadow: 2px 2px black;
}

.typing_text_line__first_line {
  color: white;
}

.typing_text_line__second_line {
  color: red;
  opacity: 0;
}

.typing_text_line__second_line--show {
  opacity: 1;
}

.typing_text__caret {
  display: inline-block;
  background-color: white;
  margin-left: 0.1rem;
  width: 20px;
  height: clamp(1.6875rem, -0.75rem + 5.0781vw, 3.3125rem);
  animation: blink 1s infinite;
  box-shadow: 2px 2px black;
}

@keyframes blink {
  0% {
    background-color: white;
    box-shadow: 2px 2px black;
  }
  49% {
    background-color: white;
    box-shadow: 2px 2px black;
  }
  50% {
    background-color: transparent;
    box-shadow: none;
  }
  99% {
    background-color: transparent;
    box-shadow: none;
  }
  100% {
    background-color: white;
    box-shadow: 2px 2px black;
  }
}
