@import url("https://fonts.googleapis.com/css?family=Open Sans Condensed:300;0,400;0,500");

label {
  margin-bottom: 6px;
  font-family: "Open Sans Condensed";
  font-weight: 800;
  letter-spacing: 0.5px;
}

input[type="text"],
input[type="email"],
select {
  margin-bottom: 14px;
}

.form-check-label {
  margin-top: 8px;
  margin-bottom: 8px;
}

.btn-primary,
.btn-danger {
  margin-top: 20px;
  margin-left: 10px;
  margin-bottom: 20px;
}

#envelope {
  color: rgb(103, 217, 255) !important;
}
