* {
  font-display: fallback;
  font-family: Helvetica, sans-serif;
}

.navbar {
  z-index: 2;
}

.black {
  background-color: #000;
}

.nav-link {
  margin-right: 1rem;
}

.nav-link__text {
  color: white !important;
  font-weight: 800;
  font-size: 15px;
}

.navbar-nav > a:hover,
.active {
  color: gold !important;
}
